html {
  font-family: system-ui, sans-serif;
  font-size: 15px;
}

body {
  padding: 0;
  line-height: 1.4;
  margin: 20px auto 0 auto;
  max-width: 960px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

ul {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

h1 {
  margin: 30px 0 0 0;
  padding: 0;
}

h2 {
  margin: 10px 0;
  padding: 0;
}

h3 {
    margin: 10px 0;

  padding: 0;
}

h4 {
  margin: 5px 0;
  padding: 0;
}

section {
  margin: 20px 0 30px 0;
  padding: 0;
}